loguru>=0.7.3
pytz>=2025.2

pydantic>=2.11.0
paho-mqtt>=2.1.0

pydantic-settings>=2.11.0
pydantic_extra_types>=2.10.2

PyYAML>=6.0.0

# pydantic              2.12.5
# pydantic_core         2.41.5
# pydantic-extra-types  2.10.6
# pydantic-settings     2.12.0
